@use '../base/variables' as v;


body{
 font-family: v.$primary-font;
 font-size: 1.1rem !important;
 padding-right:0px !important;
}
.container-dashboard {
    display: flex; 
}

.content {
    padding: 20px;
}

.box-content {
    padding: 10px;
}

.custom-btn_color{
    background-color: v.$colorAzulCielo;
    color: v.$colorBlanco;
}

.btn-save{
    background-color: v.$colorPrimary;
    color: v.$colorBlanco;
}
.btn-update{
    background-color: v.$colorPrimary;
    color: v.$colorBlanco;
}

/* Bulma Elements */
.navbar-link:not(.is-arrowless)::after, .select:not(.is-multiple):not(.is-loading)::after {
    border:none

}

//data table
.dataTables_wrapper .dataTables_length select {
    padding: 1 !important;
    width: 66px;
}
.dt-buttons {
    margin-left: 5px;
    display: inline-block; 
    margin-bottom: 10px;
    color: v.$colorBlanco;
}

.dt-button{
    background-color: v.$colorAzulCielo !important;
    color: v.$colorBlanco !important;
    border: none !important;
    border-radius: 5px !important;
}
.dt-button span{
    background-color: v.$colorAzulCielo !important;
    box-shadow: none !important;
}



/* Para controlar el tamaño de los íconos */
.custom-size-icon {
    width: 24px;
    height: 24px;
}

.custom-size-icon-list{
    width: 15px;
    height: 15px;
}
.custom-icon-chevron {
    width: 30px;
    
}
.custom-icon-profile{
    width: 20px;
    height: auto;
}



.custom-icon-action{
    width: 20px; 
    height: 20px; 
}

.btn-edit:hover {
    background-color: v.$colorBtnLink; 
}
.btn-delete:hover {
    background-color: v.$colorBtnLink; 
}
.btn-map:hover {
    background-color: v.$colorBtnLink; 
}
.btn-save:hover{
    background-color: v.$colorBtnLink;
}
.btn-icon-map{
    width: 24px;
    height: 24px;
}

.btn-general{

    background-color: v.$colorPrimary;
    color: v.$colorBlanco;
}
.btn-general[disabled] {
    background-color: #fba53e;
    color: #fff;
    border-color: #fba53e ;
    opacity: 0.65; /* opcional si quieres que se note deshabilitado */
    pointer-events: none; /* asegura que no se pueda hacer clic */
}

.icon-save{
    background-color: aliceblue;
    color: white;
}

.error {
    border: 1px solid red;
}

.error-message {
    color: red;
    font-size: 12px;
    margin-top: 5px;
}

.input-error {
    border: 1px solid red;
}

.error-message {
    color: red;
    font-size: 0.85em;
    margin-top: 2px;
    display: block;
}

.form-group {
    margin-bottom: 15px;
}

select.input-error,
textarea.input-error {
    border: 1px solid red;
}

.upload-wrapper{
    display: flex;
    align-items: center;
}
.upload-control{
    display: flex;
    justify-items: center;
    gap: 10px;
    margin-left: 5px;
    margin-top: 20px;
}
.hidden-file-input {
    display: none;
}

.custom-file-label {
    display: inline-block;
    padding: 7px 10px;
    background-color: #cccc;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

.preview-container {
    margin-top: 15px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.image-preview {
    position: relative;
    width: 120px;
    height: 120px;
    overflow: hidden;
    border-radius: 8px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
}

.image-preview img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.file-placeholder {
    margin-top: 8px;
    font-size: 0.9em;
    color: #666;
}

.image-preview {
  position: relative;
  width: 200px;
  height: 180px;
  border-radius: 8px;
  border: 1px solid #ccc;
  background-color: #f9f9f9;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.image-preview img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain; /* <- esto es clave para que no se recorte */
  display: block;
}

.tag.is-pending {
  background-color: #FB8C00;
  color: #fff;
}

.tag.is-approved {
  background-color: #4CAF50;
  color: #fff;
}

.tag.is-rejected {
  background-color: #E53935;
  color: #fff;
}

.tag.is-cancelled {
  background-color: #757575;
  color: #fff;
}

.tag.is-completed {
  background-color: #1E88E5;
  color: #fff;
}


.buttons-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 0.5rem;
  box-shadow: none;
  overflow-x: auto; /* Scroll horizontal */
  padding-bottom: 8px;
}

.buttons-container::-webkit-scrollbar {
  height: 6px;
}

.buttons-container::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 4px;
}

@media (max-width: 1024px) {
  .buttons-container {
    justify-content: flex-start;
  }
}

