
@use '../base/variables' as v;
@use '../base/mixins' as m;


.menu-add {
   display: flex;
   flex-direction: column;
   align-items: end; /* Asegura que los elementos inicien desde la derecha */
}


.counter {
   font-size: 18px;
   margin: 10px;
}
.cart-list {
   list-style: none;
   padding: 0;
}
.cart-list li {
   background: #f4f4f4;
   padding: 8px;
   margin: 5px;
   border-radius: 5px;
   display: flex;
   justify-content: space-between;
}
.buttons {
   margin-top: 20px;
}
button {
   padding: 10px;
   border: none;
   cursor: pointer;
   font-size: 16px;
   margin: 5px;
}
.add-btn {
   background-color: green;
   color: white;
}
.remove-btn {
   background-color: red;
   color: white;
   display: none;
}



/* Contenedor de resultados */
.results-container {
   display: none;  /* Inicialmente oculto */
   max-height: 300px;
   overflow-y: auto;
   border: 1px solid #ddd;
   background-color: #f9f9f9;
   border-radius: 4px;
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
   margin-top: 5px;
   padding: 5px;
}

/* Estilo para cada item de la lista */
.result-item {
   padding: 10px;
   margin: 5px 0;
   background-color: #fff;
   border: 1px solid #ddd;
   border-radius: 4px;
   cursor: pointer;
   transition: background-color 0.3s ease;
}

/* Efecto hover */
.result-item:hover {
   background-color: #f0f0f0;
}

/* Si no se encuentran resultados */
.no-results {
   padding: 10px;
   color: #999;
   text-align: center;
}


//lis dogs
.table th {
   text-align: center;
}

.table td {
   vertical-align: middle;
   text-align: center;
}

.has-background-primary-light {
   background-color: #f5faff !important;
}
