@use '../base/variables' as v;
@use '../base/mixins' as m;

.progress{
    --bulma-progress-bar-background-color: #ffdcac;
}
.is-warning {
    --bulma-progress-value-background-color: #FBA53E !important;
}

.progress-link{
    background-color: rgb(241 241 241 / 53%);
    border-radius: 4px;
    position: fixed;
    bottom: 15px;
    left: 10px;
    width: 225px;
    height: 80px;
    padding: 10px;
    font-size: 16px;

    span{
        color: #fdaa2d; 
        font-size: 1.5rem; 
        font-weight: bold; 
        margin-left: 10px;
    }
    p{
        margin: 0;
        color: #0000009c;
        margin-left: 45px;
        font-size: 16px;
    }
}

//section details progress

.custom-card-info-progress{
    box-shadow: none !important;
    border: none !important;
    background-color: rgb(241 241 241 / 53%);
    margin-bottom: 30px;
    ol{
        margin: 16px !important;

    }
    .custom-button-airport{
        width: 530px; 
        color: white !important; 
        padding-top: 12px;
        padding-bottom: 12px;
        background-color: #ffe8c6 !important;
    }
    .custom-button-map{
        width: 460px; 
        color: white !important; 
        padding-top: 12px;
        padding-bottom: 12px;
        margin-bottom: 10px;
        background-color: #ffdcac !important;
    }
    .custom-button-service{
        width:400px; 
        color: white !important; 
        padding-top: 12px;
        padding-bottom: 12px;
        margin-bottom: 10px;
        background-color: #ffc069 !important;
    }
    .custom-button-rates{
        width: 300px; 
        color: white !important; 
        padding-top: 12px;
        padding-bottom: 12px;
        margin-bottom: 10px;
        background-color: #fba53e !important;
    }
}

.custom-card-take-first-step{
    background-color: #fee7c7 !important;
    box-shadow: none !important;
    border: none !important;
    margin-top: 65px;
    .card-content{
        a{
            color: #000;
            text-decoration: none;
        }
        span{
            color: #FBA53E;
        }
    }
}

.custom-card-progress{

    background-color: #fee7c7 !important;
    box-shadow: none !important;
    border: none !important;
    margin-bottom: 30px;
    .container-title-progress{
        .item-progress{
            display: flex;
            flex: 0 0 25%;
            margin-bottom: 8px;
            svg{
                display: none;
            }
            span{
                color: #000;
                margin-left: 10px;
                font-size: 16px;
                font-weight: 600;
            }
            
        }
        .item-progress-next{

            display: flex;
            flex: 0 0 25%;
            margin-bottom: 8px;
            svg{
                display: block;
            }
            span{
                color: #ffc069;
                margin-left: 10px;
                font-size: 16px;
                font-weight: 600;
            }
            
        }

    }
    .container-progress{
        position: relative; 
        width: 100%;
        margin-right: 16px;
    }
}